@charset "utf-8";
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}


/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
	margin-top: 10px;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
}
.sideBar {
	float: left;
	width: 40%;
	height: auto;
	padding: 10px;
}

.class {
	clear: both;	
}.rightSide {
	float: left;
	width: 54%;
	padding: 10px;
}
.indexContent {
	padding: 10px;
	clear: both;
}
.nav {
	font-size: 18px;
}

.nav {
	padding: 10px;
	clear: both;
	float: left;
	height: auto;
	width: 100px;
	border: 1px solid #000;
}
.nav{
	padding: 10px;
	clear: both;
	float: left;
	width: 100%;
	text-decoration: none;
}

a, a:visited, a:active {
	text-decoration: none;	
}

.nav a, .nav a:visited, .nav a:active {
	font-size: 16px;
	font-weight: bold;
	text-transform: capitalize;
	text-decoration: none;	
}

a:hover {
	color: red;
}

.siteName {
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	margin-bottom: -10px;
	padding: 0;
}

.sideBar h1 {
	font-size: 20px;
	font-weight: bold;	
}

imgFloatLeft {
	float:left;	
}